/**
 * Styles for the public front-end
 *
 * This file contains CSS.
 *
 * @link        https://github.com/dotherightthing/wpdtrt-responsive-nav
 * @since       0.1.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/css
 */
/**
 * Variables
 *
 * @since 1.2.0
 * @author Dan Smith <dev@dotherightthing.co.nz>
 */
/**
 * SCSS @extends
 *
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */
.screen-reader-text, .wpdtrt-responsive-nav-toggle-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/**
 * Styles for the public front-end, at the desktop breakpoint
 *
 * This file contains SCSS (CSS) and is a combination of:
 * - cherry picked site and primary-nav styles from AT project
 * - styles from the responsive-nav dropdowns demo
 *   http://samikeijonen.github.io/responsive-nav.js/demos/multiple-levels/styles.css
 * - custom CSS
 *
 * @requires    responsive-nav.css
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */
/**
 * Always hide the toggle on desktops
 */
.wpdtrt-responsive-nav-toggle-wrapper {
  display: none;
}

/**
 * Always hide the noscript footer fallback on desktops
 */
.wpdtrt-responsive-nav-footer {
  display: none;
}

/**
 * Mobile styles
 */
.wpdtrt-responsive-nav {
  background: #000;
  position: relative;
}

.wpdtrt-responsive-nav ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.wpdtrt-responsive-nav li {
  border-left: 1px solid #222;
  float: left;
  position: relative;
}

.wpdtrt-responsive-nav li:last-child {
  border-right: 1px solid #4a4a4a;
}

.wpdtrt-responsive-nav li:last-child a {
  border-right: 1px solid #222;
}

.wpdtrt-responsive-nav li:hover .sub-nav {
  display: block;
}

.wpdtrt-responsive-nav a {
  border-left: 1px solid #4a4a4a;
  color: #ddd;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  padding: 0 15px;
  padding: 0 0.9375rem;
}

.wpdtrt-responsive-nav a:hover {
  background: rgba(74, 74, 74, 0.25);
}

.wpdtrt-responsive-nav .sub-nav {
  display: none;
  left: 0;
  position: absolute;
  top: 55px;
  top: 3.4375rem;
  z-index: 1;
}

.wpdtrt-responsive-nav .sub-nav li {
  float: none;
}

.wpdtrt-responsive-nav .sub-nav li:last-child a {
  border-left: none;
  border-right: none;
}

.wpdtrt-responsive-nav .sub-nav a {
  background: #3e3e3e;
  border-bottom: 1px solid #222;
  border-left: none;
  border-top: 1px solid #555555;
  font-size: 14px;
  font-size: 0.875rem;
  white-space: nowrap;
}

.wpdtrt-responsive-nav .sub-nav a:hover {
  background: #222;
}
