/**
 * Styles for the public front-end
 *
 * This file contains CSS.
 *
 * @link        https://github.com/dotherightthing/wpdtrt-responsive-nav
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/css
 */
/**
 * Variables
 *
 * @since 0.4.0
 * @author Dan Smith <dev@dotherightthing.co.nz>
 */
/**
 * SCSS @extends
 *
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */
.screen-reader-text, .wpdtrt-responsive-nav-toggle-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.clear:after, .wpdtrt-responsive-nav:after {
  content: "";
  display: block;
  clear: both;
}

.list-reset, .wpdtrt-responsive-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-sharpen, .wpdtrt-responsive-nav {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Styles for the public front-end, at the desktop breakpoint
 *
 * This file contains SCSS (CSS) and is a combination of:
 * - cherry picked site and primary-nav styles from AT project
 * - styles from the responsive-nav dropdowns demo
 *   http://samikeijonen.github.io/responsive-nav.js/demos/multiple-levels/styles.css
 * - custom CSS
 *
 * @requires    responsive-nav.css
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */
/**
 * Always hide the toggle on desktops
 */
.wpdtrt-responsive-nav-toggle-wrapper {
  display: none;
}

/**
 * Always hide the noscript footer fallback on desktops
 */
.wpdtrt-responsive-nav-footer {
  display: none;
}

.wpdtrt-responsive-nav {
  background-color: #000;
  position: relative;
  font-family: sans-serif;
}

.wpdtrt-responsive-nav ul {
  position: relative;
}

.wpdtrt-responsive-nav li {
  float: left;
  position: relative;
}

.wpdtrt-responsive-nav li:last-child {
  border-right: 1px solid #4d4d4d;
}

.wpdtrt-responsive-nav li:hover .sub-menu, .wpdtrt-responsive-nav li.wpdtrt-responsive-nav-hover .sub-menu {
  display: block;
}

.wpdtrt-responsive-nav a {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
  color: #ddd;
  padding: 16px 15px;
  padding: 1rem 0.9375rem;
  border-left: 1px solid #4d4d4d;
}

.wpdtrt-responsive-nav a:hover, .wpdtrt-responsive-nav a:focus {
  background-color: #262626;
}

.wpdtrt-responsive-nav .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}

.wpdtrt-responsive-nav .sub-menu li {
  float: none;
}

.wpdtrt-responsive-nav .sub-menu li a {
  background-color: #121212;
  font-size: 14px;
  font-size: 0.875rem;
  white-space: nowrap;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #4d4d4d;
  border-left: none;
}

.wpdtrt-responsive-nav .sub-menu li a:hover, .wpdtrt-responsive-nav .sub-menu li a:focus {
  background-color: #333333;
}

.wpdtrt-responsive-nav .sub-menu li:last-child a {
  border-left: none;
  border-right: none;
}
