/**
 * Styles for the public front-end, at the desktop breakpoint
 *
 * This file contains SCSS (CSS) and is a combination of:
 * - cherry picked site and primary-nav styles from AT project
 * - styles from the responsive-nav dropdowns demo
 *   http://samikeijonen.github.io/responsive-nav.js/demos/multiple-levels/styles.css
 * - custom CSS
 *
 * @requires    responsive-nav.css
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */

/**
 * Always hide the toggle on desktops
 */
.wpdtrt-responsive-nav-toggle-wrapper {
  display: none;
}

/**
 * Always hide the noscript footer fallback on desktops
 */
.wpdtrt-responsive-nav-footer {
  display: none;
}

/**
 * Mobile styles
 */

// You may not @extend an outer selector from within @media.
.wpdtrt-responsive-nav-toggle-text {
  @extend .screen-reader-text;
}

.wpdtrt-responsive-nav {
    background: #000;
    position: relative;
    font-family: sans-serif;

    @extend .clear;

	ul {
	    position: relative;
	    //height: 55px;

		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
	    float: left;
	    position: relative;

		&:last-child {
		    border-right: 1px solid #4a4a4a;
		}


		&:hover {
			.sub-menu {
		    	display: block;
		    }
		}
	}

	a {
	    display: block;
	    color: #ddd;
	    font-size: 16px;
	    line-height: 55px;
	    text-decoration: none;
	    padding: 0 15px;
	    border-left: 1px solid #4a4a4a;

	    &:hover { // and li.active a
    		background-color: #3e4853;
	    }
	}

	.sub-menu {
	    display: none;
	    position: absolute;
	    left: 0;
	    top: 55px;
	    z-index: 1;

		li {
		    float: none;

			&:last-child a {
			    border-left: none;
			    border-right: none;
			}
		}

	    a {
		    background: #3e3e3e;
		    border-left: none;
		    font-size: 14px;
		    white-space: nowrap;
		    border-top: 1px solid #222;
		    border-bottom: 1px solid #4a4a4a;

		    &:hover {
				background: #222;
		    }
	    }
	}
}
