/**
 * Styles for the public front-end, at the mobile breakpoint
 *
 * This file contains SCSS (CSS).
 *
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */

/**
 * Always show the toggle on mobile
 */
.wpdtrt-responsive-nav-toggle-wrapper {
  display: block;
}

/**
 * When JS is disabled, hide the toggled header nav on mobile
 */
.wpdtrt-nojs .wpdtrt-responsive-nav-header {
  display: none;
}

.wpdtrt-responsive-nav {
  border-bottom: 1px solid #4a4a4a;

  li {
    float: none; // allow nav height to be calculated via JS
    border-left: 0;
  }

  a {
    display: block;
    color: #ddd;
    line-height: normal;
    padding: 1em 60px 1em $responsive_nav_item_indent;

    // i.e. not just sub menu:
    border-top: 1px solid #222;
    border-bottom: 1px solid #4a4a4a;
  }

  li.focus > a {
    background-color: #3e4853;
  }
}

/**
 * When JS is disabled, show the noscript footer fallback on mobile
 */
.wpdtrt-nojs .wpdtrt-responsive-nav-footer {
  display: block;
}

/**
 * Nav toggle
 * The button which opens and closes the menu.
 * This is a link, which jumps the user down to the footer clone
 * when JS is disabled
 */

.wpdtrt-responsive-nav-toggle-wrapper {
  @extend .clear;
  margin: 0 0 16px;
}

.nav-toggle {
  display: block;
  float: right;

  background-color: #e40100;
  color: #fff;
  text-shadow: 0px -1px 0 rgba(0,0,0,.3);
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0,.5);
  border-radius: 5px;
  text-decoration: none;

  transition: all .1s ease;

  &.nav-toggle-loading {
    background-color: #333;
    opacity: .5;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: rgba(255,255,255,.9);
    border-color: rgba(255,255,255,.5);
  }

  &.active {
    background-color: #000;
  }
}

/**
 * Nav collapse
 * The collapsed state of #main-nav
 */
.nav-collapse {

  .js & {
    visibility: hidden;
  }

  .js &.opened {
    visibility: visible;
  }

}

/**
 * Nested sub menus
 */
.nav-collapse {

  // Enable active class to let the navigation expand over the calculated max height.
  .js &.multiple-level-nav.opened.dropdown-active {
    max-height: 9999px !important;
  }

  .js &.multiple-level-nav {

    .sub-menu {
      display: none; // prevents focus on items within closed sub menu

      &.toggled {
        display: block;
        position: relative; // overrides desktop
      }
    }
  }

  .js & li {
    position: relative;
  }

  .dropdown-toggle {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: $responsive_nav_item_indent;
    background-color: #222;
    color: rgb(221, 221, 221);
    line-height: 0;
    height: 2em;
    width: 2em;
    padding: 0;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0px 1px 0px 1px rgba(0,0,0,.4);

    &:hover,
    &:focus,
    &:active  {
      background-color: #282e34;
      color: rgb(221, 221, 221);
    }

    &:after {
      content: "+";
      font-size: 20px;
    }

    &.toggled:after {
      content: "-";
    }
  }
}

.dropdown,
.menu-item-has-children {

  ul {

    a {
      background-color: #282e34;
      padding-left: ($responsive_nav_item_indent * 2);
    }

    ul {

      a {
        background-color: #2d353e;
        padding-left: ($responsive_nav_item_indent * 3);
      }

      ul {

        a {
          background-color: #2d353e;
          padding-left: ($responsive_nav_item_indent * 3);
        }
      }
    }
  }

  .dropdown.opened .has-dropdown {
    background-color: #9c2c12;
  }

}