/**
 * Styles for the public front-end, at the desktop breakpoint
 *
 * This file contains SCSS (CSS) and is a combination of:
 * - cherry picked site and primary-nav styles from AT project
 * - styles from the responsive-nav dropdowns demo
 *   http://samikeijonen.github.io/responsive-nav.js/demos/multiple-levels/styles.css
 * - custom CSS
 *
 * @requires    responsive-nav.css
 * @since       0.4.0
 *
 * @package     Wpdtrt_Responsive_Nav
 * @subpackage  Wpdtrt_Responsive_Nav/scss
 */

/**
 * Always hide the toggle on desktops
 */
.wpdtrt-responsive-nav-toggle-wrapper {
 	display: none;
}

/**
 * Always hide the noscript footer fallback on desktops
 */
.wpdtrt-responsive-nav-footer {
 	display: none;
}

// You may not @extend an outer selector from within @media.
.wpdtrt-responsive-nav-toggle-text {
 	@extend .screen-reader-text;
}

.wpdtrt-responsive-nav {
    background-color: $responsive_nav_background_color_level_1;
    position: relative;
    font-family: sans-serif;
	@extend .text-sharpen;
    @extend .clear;

	ul {
	    position: relative; // AP
		@extend .list-reset;
	}

	li {
	    float: left;
	    position: relative;

		&:last-child {
		    border-right: 1px solid $responsive_nav_divider_color_level_1;
		}

		&:hover,
		&.wpdtrt-responsive-nav-hover {
			.sub-menu {
		    	display: block;
		    }
		}
	}

	a {
	    display: block;
	    font-size: 16px;
	    text-decoration: none;
	    color: #ddd;
	    padding: 16px 15px;
	    border-left: 1px solid $responsive_nav_divider_color_level_1;

	    &:hover,
	    &:focus {
    		background-color: $responsive_nav_hover_color_level_1;
	    }
	}

	.sub-menu {
	    display: none;
	    position: absolute;
	    left: 0;
	    top: 100%;
	    z-index: 1;

		li {
		    float: none;

		    a {
			    background-color: $responsive_nav_background_color_level_2;
			    font-size: 14px;
			    white-space: nowrap;
			    border-top: 1px solid $responsive_nav_shadow_color_level_2;
			    border-bottom: 1px solid $responsive_nav_divider_color_level_2;
			    border-left: none;

			    &:hover,
			    &:focus {
					background-color: $responsive_nav_hover_color_level_2;
			    }
		    }

			&:last-child {
				a {
			    	border-left: none;
			    	border-right: none;
			    }
			}
		}
	}
}
