/**
 * Variables
 *
 * @since 1.2.0
 * @author Dan Smith <dev@dotherightthing.co.nz>
 */

$responsive_grid_gutter_horz: 5%;
$responsive_block_gutter_vert: 30px;
$responsive_block_gutter_horz: 7%;

// path relative to css folder
$icomoon-font-path: "../vendor/icomoon/fonts";
